<html>
    <head><title>Hello, from Rails</title></head>
    <body><h1>Hello, from Rails</h1></body>
    <ul>
      <li>Addition: <%= 1+2 %></li>
      <li>Concatenation: <%= "cow" + "boy"%></li>
      <li>Time in one hour: <%= 1.hour.from_now %></li>
    </ul>
    <hr>
    <% 3.times do -%>
    Ho!<br>
    <% end -%>
    Merry Christmas!
    <hr>
    <% 3.downto(1) do |count| -%>
    <%= count %>...<br>
    <% end -%>
    Lift off!
    <hr>
    Email: <%= h("Ann & Bill <frazers@isp.email>") %>
</html>